.body {
  width: 375px;
  background-color: #191765;
}

header {
  height: 96px;
  width: 375px;
  top: 44px;
  display: flex;
  justify-content: space-between;
}

.welcome {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  padding: 24px;
  cursor: pointer;
}

.navigation_bar {
  cursor: pointer;
  padding: 24px;
}

.name {
  color: #7d73fc;
  text-align: center;
  letter-spacing: 0.37px;
  width: 327px;
  height: 55px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 72px;
  padding-left: 24px;
  padding-right: 24px;
}

.backgr {
  position: absolute;
  top: 32px;
  filter: blur;
}

.title {
  width: 327px;
  height: 87px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #edecff;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-left: 24px;
  padding-right: 24px;
}

.pa {
  width: 327px;
  height: 170px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 24px;
  padding-right: 24px;
}

.line {
  padding: 24px;
}

.socialmedia {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 0;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  list-style-type: none;
}

#language {
  color: #9490FF;
  letter-spacing: 0.03em;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.language {
  color: #F5F5FF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  gap: 4.78px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  letter-spacing: 0.03em;
}

.languageframeworks {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.skill {
  display: flex;
  flex-direction: column;
}